.box.is-fullheight
  %h2.title.is-4 Add Field
  = form_with model: [ @entity, @entity.entity_fields.build ] do |form|
    .field
      = form.label :title, class: 'label'
      .control= form.text_field :title, class: 'input'
    .field
      = form.label :field_type, class: 'label'
      .control
        .select.is-fullwidth
          = form.select :field_type, EntityField.field_types
    = form.submit 'Save', class: 'button'
