= link_to ('<i class="fas fa-arrow-left"></i>').html_safe, @entity, class: 'button is-text block'

.box.block.has-restricted-width
  = form_with model: @entity_field, url: entity_entity_field_path do |form|
    .field
      = form.label :title, class: 'label'
      .control= form.text_field :title, class: 'input'
    = form.submit 'Save', class: 'button'
