.box
  = render 'shared/data_table', fields: @entity.entity_fields, data: entity_values_by_row_and_field(@entity) do |row_id|
    = link_to ('<i class="fas fa-pen"></i>').html_safe,
      edit_entity_entity_row_path(@entity, row_id),
      class: 'button is-text is-small'

    = link_to ('<i class="fas fa-trash"></i>').html_safe,
      entity_entity_row_path(@entity, row_id),
      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
      class: 'button is-small has-text-danger is-text'
