= form_with model: @entity,
  data: { turbo_frame: '_top' } do |form|
  .field
    = form.label :title, class: 'label'
    .control= form.text_field :title, class: 'input'
    - @entity.errors.full_messages_for(:title).each do |message|
      = message
  - if @entity.entity_fields.length > 0
    .field
      = form.label :primary_field_id, class: 'label'
      .control
        .select.is-fullwidth= form.select :primary_field_id, @entity.entity_fields.map {|f| [f.title, f.id]}
      - @entity.errors.full_messages_for(:primary_field_id).each do |message|
        = message
  = form.submit 'Save', class: 'button'
