= turbo_frame_tag 'edit-entity' do
  .box.block.has-restricted-width.mb-5.ml-auto.is-relative
    = link_to ('<i class="fas fa-times"></i>').html_safe,
      @entity, class: 'button is-text is-small is-rounded close-button'
    = render 'form', entity: @entity
