%h1.title Entities

= turbo_frame_tag 'entities_list', target: '_top' do
  .columns.mb-2.is-multiline
    - @entities.each do |entity|
      .column.is-6-tablet.is-4-desktop.is-3-widescreen
        .card
          .card-content.has-background-white-bis
            %h2.title.has-text-centered.is-4= entity.title
          .card-footer
            = link_to ('<i class="fas fa-eye"></i>').html_safe,
              entity_path(entity), class: 'card-footer-item'

  = turbo_frame_tag 'new_entity' do
    = link_to 'New', new_entity_path, class: 'button'
