= turbo_frame_tag 'new_entity' do

  .box.block.has-restricted-width.is-relative
    = link_to ('<i class="fas fa-times"></i>').html_safe,
      @entity, class: 'button is-text is-small is-rounded close-button'
    = render 'form', entity: @entity
