- if params[:error]
  .notification.is-danger= params[:error]

= turbo_frame_tag 'edit-entity' do
  .is-clearfix
    %h1.title.is-pulled-left= @entity.title
    - if @entity.primary_field
      %p.is-pulled-left.p-2
        Primary field:
        = @entity.primary_field.title

    .is-pulled-right
      = link_to ('<i class="fas fa-pen"></i>').html_safe,
        edit_entity_path(@entity),
        class: 'button is-small is-text'

      = link_to ('<i class="fas fa-trash"></i>').html_safe,
        entity_path(@entity),
        data: { turbo_method: :delete, turbo_confirm: "Are you sure?", turbo_frame: '_top' },
        class: 'button is-small has-text-danger is-text'

= render 'entity_table', entity: @entity

.columns.is-multiline
  .column.is-full.is-one-third-widescreen= render 'entity_rows/new_form', entity: @entity
  .column.is-full.is-one-third-widescreen= render 'entity_fields/new_form', entity: @entity
  .column.is-full.is-one-third-widescreen= render 'entity_graphs/new_form', entity: @entity

- if @entity.entity_graphs.length > 0
  .columns.is-multiline
    - @entity.entity_graphs.each do |graph|
      - if graph.id
        .column.is-full.is-half-widescreen= render graph
