%div{ data: { controller: 'sidebar', sidebar_closed_class: 'is-hidden-mobile' }}
  %button.button.is-hidden-tablet{ data: { action: 'sidebar#toggle' }} Menu
  %aside.menu.mt-4.is-hidden-mobile{ data: { sidebar_target: 'sidebar' }}
    %p.menu-label= link_to 'Dashboard', root_path, class: 'has-text-black'
    %ul.menu-list
      %li
        = link_to 'Entities', entities_path, class: active_page(entities_path)
        %ul
          - all_entities.each do |entity|
            %li= link_to entity.title, entity, class: active_page(entity)
