.box.is-fullheight
  = link_to ('<i class="fas fa-trash"></i>').html_safe,
    entity_entity_graph_path(entity_graph.entity, entity_graph),
    data: { turbo_method: :delete, turbo_confirm: "Are you sure?", turbo_frame: '_top' },
    class: 'button is-small has-text-danger is-text is-pulled-right'
  %h2.title.is-4= entity_graph.entity_field.title

  %div.is-relative.is-fullheight{ data: {
    controller: 'chart',
    chart_title_value: entity_graph.entity_field.title,
    chart_data_value: get_data_points(entity_graph).to_json,
    chart_labels_value: get_chart_labels(entity_graph).to_json,
    chart_graph_type_value: entity_graph.graph_type
  }}
    %canvas{ data: { chart_target: 'canvas' }}
