.box.is-fullheight
  %h2.title.is-4 Add Graph
  - if eligible_fields(@entity).length > 0
    = form_with model: [ @entity, @entity.entity_graphs.build ] do |form|
      .field
        = form.label :entity_field, class: 'label'
        .control
          .select.is-fullwidth
            = form.select :entity_field_id, eligible_fields(@entity).map {|f| [f.title, f.id]}
      .field
        = form.label :graph_type, class: 'label'
        .control
          .select.is-fullwidth
            = form.select :graph_type, EntityGraph.graph_types
      = form.submit 'Save', class: 'button'
  - else
    = render 'shared/not_found_message', object: 'fields'
