.box.is-fullheight
  %h2.title.is-4 Add Row
  - if @entity.entity_fields.length > 0
    = form_with model: [@entity, @entity.entity_rows.build] do |form|
      - @entity.entity_fields.each do |field|
        .field
          = form.label field.title, class: 'label is-pulled-left'

          .is-pulled-right
            = link_to ('<i class="fas fa-pen"></i>').html_safe,
              edit_entity_entity_field_path(@entity, field),
              class: 'button is-text is-small'

            = link_to ('<i class="fas fa-trash"></i>').html_safe,
              entity_entity_field_path(@entity, field),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
              class: 'button is-small has-text-danger is-text'

          .control
            - if field.field_type == 'string'
              = form.text_field field.title, class: 'input'
            - elsif field.field_type == 'number'
              = form.number_field field.title, class: 'input'
      = form.submit 'Save', class: 'button'
  - else
    = render 'shared/not_found_message', object: 'fields'
