= link_to ('<i class="fas fa-arrow-left"></i>').html_safe, @entity, class: 'button is-text block'

.box.block.has-restricted-width
  = form_with model: @entity_row, url: entity_entity_row_path do |form|

    - @entity.entity_fields.each do |field|
      .field
        = form.label field.title, class: 'label'
        .control
          = form.text_field field.title, class: 'input', value: display_value_by_field_and_row(field: field, row: @entity_row)

    = form.submit 'Save', class: 'button'
