$radius: 0
$radius-large: 0
$block-spacing: 0.75rem
$column-gap: $block-spacing / 2
$box-padding: 0.75rem
$gap: 16px

@import "bulma/utilities/_all"
@import "bulma/base/_all"
@import "bulma/elements/_all"
@import "bulma/form/_all"
@import "bulma/components/_all"
@import "bulma/grid/_all"
@import "bulma/helpers/_all"
@import "bulma/layout/_all"

.is-fullheight
  height: 100%

/* Table search field */
input.table-search
  width: 200px

/* Remove underscore from .is-text buttons */
a.button.is-text, button.button.is-text
  text-decoration: none

/* Restrict width of actions column on table */
.action-cell
  width: 120px

/* Prevent button icons interfering with click events */
button i
  pointer-events: none

/* Sticky headers on tables */
.table
  border-collapse: separate
  border-spacing: 0
  border-radius: 0.25rem
  th
    position: sticky
    top: 0
    background: white

/* Restrict width on forms */
.has-restricted-width
  max-width: 400px

/* Close button styling */
a.button.close-button
  position: absolute
  padding: 7px 10px
  border-radius: 50%
  top: -10px
  left: -10px
  background-color: white
  border: 1px solid rgba(0, 0, 0, 0.1)
