!!! 5
%html.has-background-light
  %head
    %title= 'Dashboard'
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1' }
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_importmap_tags

    %script{ src: 'https://kit.fontawesome.com/305c9fec70.js', crossorigin: 'anonymous' }
  %body
    .container.is-fluid
      .columns
        .column.is-narrow= render 'shared/sidebar'
        .column
          %section.section.pt-4
            .container= yield
